<!DOCTYPE html>
<html>
    <head>
    <title>API shasizzle</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,r-2.0.2/datatables.min.css"/>
    </head>
<body>
<div class="ui container">
    <br><br>
    <div id=nuggets>
        <div v-if="!loading" class="ui active inverted dimmer">
            <h3 class="top">Há þrír hedder</h3>
            <table id="Tabledisplay" class="ui celled table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Ship</th>
                        <th>Solar System</th>
                        <th>Victim</th>
                        <th>Killer</th>
                        <th>Corporation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="kill in output">
                        <script type="text/javascript">
                        if (kill.attackers.characterName == ""  && kill.attackers.corporationName == "CONCORD")
                        {
                            kill.attackers.characterName == "CONCORD Officer";
                        }                        
                        </script>
                        <td>{{kill.killTime}}</td>
                        <td>{{kill.victim.shipTypeID}}</td>
                        <td>{{kill.solarSystemID}}</td>
                        <td>{{kill.victim.characterName}}</td>
                        <td>{{kill.attackers.characterName}}</td>
                        <td>{{kill.attackers.corporationName}}</td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
</div>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/vue.router/0.7.10/vue-router.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="application/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src ="dist/semantic.min.js"></script>
    <script type="application/javascript" src="js/data.json"></script>
    <script type="application/javascript" src="js/script.js"></script>
    </body>
</html> 
